* { /*applies to all elements*/
    box-sizing: border-box;
    color: black;
}

html, body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

nav  {
    height: 50px;
    background: grey;
}

nav.container {
    display: flex;
    background-color:;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: relative;

}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}


a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 1.8em .5em;
}

a:hover {
    color: blue;
}

.nav-container li:nth-of-type(4) {
    margin-right: auto;
}


logo.container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
}