.fancy-header {
    text-align: center; /*centers text*/
}

.color {
    color: black;
    text-decoration: underline;
}

body { /*changes color of background*/
    background-image: url("https://images.app.goo.gl/wA3mJZ24ksxHucGd7");
    background-color: powderblue;
}


